<a href="https://colab.research.google.com/github/warwickdatascience/beginners-python/blob/master/session_two/session_two_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>Spotted a mistake? Report it <a href="https://github.com/warwickdatascience/beginners-python/issues/new">here</a></center>

# Beginner's Pythonâ€”Session Two Homework Exercises

## User Input

Ask the user for the year, month, and day and use these to print out the date in the following format:

`Your date is 1 January, 1970`

(Hint: if you want to get the comma looking exactly right, you might have to use string addition)

In [4]:
year_var = input("what year is it? ")
month_var = input("what month is it? ")
day_var = input("what day is it? ")
print("Your date is", day_var, month_var, year_var)

what year is it? 2021
what month is it? October
what day is it? 25th
Your date is 25th October 2021

Ask the user to input a decimal number (remember you'll need to use `float()` to convert it from a string). Multiply this $5$, subtract $1.2$ and print the result

In [5]:
dec_number = float(input("Type in a decimal number!"))
new_number = dec_number * 5 - 1.2
print(new_number)

Type in a decimal number!10.1
49.3

## Variable Types

What happens when you pass a decimal number (such as $3.14$) to `int()`?

In [7]:
num_test = int(3.14)
print(num_test)

3

it is rounding the number

The `min()` and `max()` functions are versatile. As well being able to input a list of numbers, you are able to pass multiple inputs to these functions, separated by commas, provided they are all of the same type. For example:

In [ ]:
min(2, 5, 1)

1

The versitility doesn't stop there. What happens if we put in two strings as the inputs to either `min()` or `max()`. Experiment and try to find out.

(Hint: Try comparing each pair of `Cat`, `Dog`, and `Donkey`)

In [8]:
min("Cat", "Dog", "Donkey")

'Cat'

Is it ranking by the alphabet?

Say you wanted to add the string `"Time is 12:"` to the integer `30` to get the string `"Time is 12:30"`. How can you use type conversion to achieve this?

In [11]:
time_num = 30
print("Time is 12:" + str(time_num))

Time is 12:30

## Sum, Min, Max and Length

Your teammates are aged 20, 33, 45, 57, and 62. Use `input()` to get Python to ask you your age and then make a list containing the 5 ages above and your age

In [16]:
your_age = int(input("What is your age?"))
age_list =[20, 33, 45, 57, 62, your_age]
print("min is:", min(age_list),",","max is:", max(age_list))

What is your age?22
min is: 20 , max is: 62

Find the average age of your team and print it

(Hint: The average age is the `sum` of all ages divided by the `len`gth of your list of ages)

In [17]:
sum_age = sum(age_list)
len_age = len(age_list)
avg_age = sum_age/len_age
print("the average age is", avg_age)

the average age is 39.833333333333336

Run the following lines of code to create two lists containing the scores of 30 students in each class

In [18]:
from random import randrange, seed
seed(1729)
class_A_scores = [randrange(101) for __ in range(30)]
class_B_scores = [randrange(101) for __ in range(30)]

Use `max()` to find which class contained the highest scoring student

In [20]:
print("max score for A is:", max(class_A_scores), "max score for B is:", max(class_B_scores))

max score for A is: 97 max score for B is: 92

As mentioned above, you can find the minimum or maximum of a collection of numbers without having to first put them in a list. Use this approach to find the minumum and maximum of the numbers 4, 5, 2, and 8

In [22]:
print(min(4,5,2,8))
print(max(4,5,2,8))

2
8

Ask the user for two strings and print the length of the shortest

In [36]:
str_line1 = (input("put in string! "))
str_line2 = (input("put in strin again! "))
len_line1 = len(str_line1)
len_line2 = len(str_line2)
if len_line1 < len_line2:
  print(str_line1, "is shorter with a length of:", len_line1)
elif len_line1 > len_line2:
  print(str_line2, "is shorter with a length of:", len_line2)
else:
  print("the strin length is equal or yuo did smth wrong...")

put in string! jayjay is good
put in strin again! yeet
yeet is shorter with a length of: 4